footer
  .scripts-area
    script(src="/vendors/lazy/lazysizes.min.js" async defer)
    script(src="/vendors/lazy/ls.unveilhooks.js" async defer)
  .inner
    .wrap
      .logo
        img(src="/assets/img/icons/logoWhite.svg")
        span Производство и продажа комплектующих для изоляции стыков труб в ППУ изоляции
        span УНП 691604518
      .nav
        ul.main
          li
            a(href="/about.html") О компании
          li
            a(href="/catalog.html") Каталог
          li
            a(href="/pay.html") Оплата и доставка
          li
            a(href="/contacts.html") Контакты
        ul.prods
          li
            a(href="#") Муфты полиэтиленовые термоусаживаемые (МТУ)
          li
            a(href="#") Лента клеевая герметизирующая термоплавкая
          li
            a(href="#") Профиль для манжет стенового ввода
          li
            a(href="#") Манжеты стенового ввода (МСВ)
          li
            a(href="#") Комплекты заделки стыка (КЗС)
  .line
    ul
      li
        img(src="/assets/img/icons/mapWhite.svg")
        span Минская обл., Дзержинский р-н, д. Гарбузы, здание котельной     
      li
        img(src="/assets/img/icons/clockWhite.svg")
        span Пн.–Пт. 8:00–17:00
      li
        img(src="/assets/img/icons/phoneWhite.svg")
        span +375 (29) 658–83–15
  .credentials
    span © 2023 Термоизострой. Все права защищены.
    a(href="https://vtop3.by/" target="_blank") Сайт разработан ВТОП3     
.mobile-menu-wrap
  .inner
    .head
      span Меню
      img.close.lazyload(data-src="/assets/img/icons/close.svg" width="30" height="30")
    ul.nav
      li
        a(href="/") Главная
      li
        a(href="/about.html") О компании
      li.c
        span Каталог
        ul.prods
          li
            a(href="#") Муфты полиэтиленовые термоусаживаемые (МТУ)
          li
            a(href="#") Лента клеевая герметизирующая термоплавкая
          li
            a(href="#") Профиль для манжет стенового ввода
          li
            a(href="#") Манжеты стенового ввода (МСВ)
          li
            a(href="#") Комплекты заделки стыка (КЗС)
      li
        a(href="/pay.html") Оплата и доставка
      li
        a(href="/contacts.html") Контакты

