header
  a.logo(href="/")
    img(src="/assets/img/logo.svg" width="166" height="89")
  span.dsc Производство и продажа комплектующих для изоляции стыков труб в ППУ изоляции
  span.addr Минская обл., Дзержинский р-н, д. Гарбузы, здание котельной
  .cta(tabindex="1")
    a.phone(href="tel:+375 (29) 658–83–15")
      img(src="/assets/img/icons/phone.svg" width="20" height="20")
      span +375 (29) 658–83–15
    span.redbutton Заказать звонок


