section#nav
  ul
    li.active
      a(href="/") Главная 
    li
      a(href="/about.html") О компании
    li
      a(href="/catalog.html") Каталог
    li
      a(href="/pay.html") Оплата и доставка
    li
      a(href="/contacts.html") Контакты