block variables
.inner
  include ./bread
  h1 #{title}
  .dsc
    .img
      img(src="/assets/img/pages/product2/intro.png")
    .txt
      p.squares Лента клеевая герметизирующая термоплавкая (лента клеевая) предназначена для герметизации стыков между полиэтиленовыми изделиями.
      p Основная область применения герметизация и адгезия при усадке термоусаживаемой полиэтиленовой муфты(МТУ) к трубе оболочки при изоляции (заделки стыка) ПИ-трубопроводов.
      p.warn Пример условного обозначения ленты неармированной (армированной) толщиной 2,0 мм и шириной 40 мм
      p.s18 «Лента ТИС ЛК (ЛКА) – 2,0х40 – ТУ BY 691604518.005–2020»

  h2 Производится в двух вариантах:

  .features.two.mb32
    ul
      li
        dl
          dt ТИС ЛК
          dd лента клеевая
      li
        dl
          dt ТИС ЛКА
          dd лента клеевая армированная

  .squares
    p.square ТИС ЛКА — лента клеевая армированная выпускается с вплавляемой аппретированной сеткой, позволяющей нагревать изделие до более высоких температур, что исключает стекание клеевого состава.       
    img(src="/assets/img/pages/product2/396.png"  )
  .size
    h2 Основные размеры ленты клеевой выпускаемой ООО «ТермоИзоСтрой»
    img.table(src="/assets/img/pages/product2/table.jpg" data-fancybox data-src="/assets/img/pages/product2/table.jpg")
    span.caption * Наше оборудование позволяет выпускать ленту клеевую шириной до 450 мм и толщиной до 7 мм!

  .wrap.square
    .notification
      span Вся продукция производится в соответствии с <br><span class="blue">ТТУ BY 691604518.005-2020</span>



include ../ui/permit_single
include ../ui/order
include ../ui/interest




