.inner
  include ./bread
  .wrap
    article
      h1 О компании
      img(src="/assets/img/pages/about/312.jpg")
      p.squares Компания ООО «ТермоИзоСтрой» является профессиональным специализированным производителем и поставщиком расходных материалов и комплектующих, используемых при строительстве, прокладке, ремонте тепловых сетей, состоящих из предварительно изолированных жестким пенополиуретаном труб (труб ППУ).
      h2 О нас
      p Наше предприятие было официально зарегистрировано 13 ноября 2013 года. На протяжении 10 лет наше производство постоянно подвергалось модернизации и запуском новых продуктов. Имея собственное технологическое производство, мы выходим на международный уровень.

    aside
