.inner
  include ./bread
  .wrap
    article
      h1 О компании
      img(src="/assets/img/pages/about/312.jpg" width="100%")
      p.squares Компания ООО «ТермоИзоСтрой» является профессиональным специализированным производителем и поставщиком расходных материалов и комплектующих, используемых при строительстве, прокладке, ремонте тепловых сетей, состоящих из предварительно изолированных жестким пенополиуретаном труб (труб ППУ).
      h2 О нас
      p Наше предприятие было официально зарегистрировано 13 ноября 2013 года. На протяжении 10 лет наше производство постоянно подвергалось модернизации и запуском новых продуктов. Имея собственное технологическое производство, мы выходим на международный уровень.

      .features.three
        ul
          li 
            img(src="/assets/img/pages/about/features/01.png" width="40")
            span 10 лет <br> работы
          li 
            img(src="/assets/img/pages/about/features/02.png" width="40")
            span Собственное <br> производство
          li 
            img(src="/assets/img/pages/about/features/03.png" width="40")
            span 25 <br> сотрудников

      h2 Область производства
      p Производство муфт полиэтиленовых термоусаживаемых, комплектов заделки стыков, манжет стенового ввода, профиля для манжеты стенового ввода, лент клеевых герметизирующих термоплавких.

      h2 География поставок
      p География наших поставок охватывает Беларусь, Россию и Казахстан.

      .features.three
        ul
          li
            img(src="/assets/img/pages/about/features/04.svg")
          li
            img(src="/assets/img/pages/about/features/05.svg")
          li
            img(src="/assets/img/pages/about/features/06.svg")
      h2 Клиенты
      p Потребителями являются концерны Минэнерго, Министерства жилищного хозяйства, монтажные организации, производители предварительно изолированных труб (ПИ-труб) для тепловых сетей.
    aside
      h5 Продукция
      ul
        li
          img(src="/assets/img/pages/about/aside/01.png")
          a(href="#") Муфты полиэтиленовые термоусаживаемые (МТУ)
        li
          img(src="/assets/img/pages/about/aside/02.png")
          a(href="#") Лента клеевая герметизирующая термоплавкая
        li
          img(src="/assets/img/pages/about/aside/03.png")
          a(href="#") Профиль для манжет стенового ввода
        li
          img(src="/assets/img/pages/about/aside/04.png")
          a(href="#") Манжеты стенового ввода (МСВ)
        li
          img(src="/assets/img/pages/about/aside/05.png")
          a(href="#") Комплекты заделки стыка (КЗС)

include ../ui/permit
include ../ui/order

.wrap.square
  .notification
    span Приглашаем вас к долгосрочному и взаимовыгодному сотрудничеству!