block variables
.inner
  include ./bread
  h1 #{title}
  .wrap
    .left
      h2 Оплата
      p Работаем по безналичному расчету.
      p Наши реквизиты:
      ul
        li ООО «ТермоИзоСтрой»
        <br>
        li Юридический адрес: Республика Беларусь, 222720, Минская обл., Дзержинский р-н, д. Гарбузы, здание котельной
        <br>
        li УНП 691604518
        li ОКПО 303164856000
        li IBAN: BY08OLMP30121000429630000933
        li BIC: OLMPBY2X в ОАО «Белгазпромбанк» г.Минск, ул.Притыцкого 60/2
        <br>
        li Директор Абражевич Святослав Игоревич, действующий на основании Устава
    .right
      h2 Доставка
      p Самовывоз - Минская обл., Дзержинский р-н, д. Гарбузы, здание котельной
      p Доставка по всей Беларуси и странам СНГ
      img(src="/assets/img/pages/pay/globe.jpg")