.inner
  include ./bread
  h1 Муфты полиэтиленовые термоусаживаемые (МТУ)

  .dsc
    .img.lazyload(data-bg="/assets/img/pages/product1/intro.jpg")
    .txt
      p.squares Муфты полиэтиленовые термоусаживаемые (МТУ) производятся из полиэтилена низкого давления ПНД 100 и предназначены для теплогидроизоляции стыков предизолированных трубопроводов (пи-трубопроводов) подземной прокладки. 
      p Условное обозначение муфт состоит из сокращённого наименования «МТУ», наименования материала (ПЭ), номинального наружного диаметра защищаемой трубы-оболочки в мм, обозначения настоящих технических условий.
      p.warn Пример условного обозначения муфты, предназначенной для изоляции ПИ-трубы с наружным диаметром трубы-оболочки 315 мм. 
      p.s18 «МТУ ПЭ 315 ТУ BY 691604518.001–2016»

  h2 Существенные технологические преимущества:

  .features.three
    ul
      li Превосходная усадка
      li Отсутствие самопроизвольной усадки на трубе под действием солнечных лучей
      li Значительная экономия газа при монтаже, за счёт быстрой усадки

  .wrap.square
    .notification
      span Вся продукция производится в соответствии с <br><span class="blue">ТУ ВУ 691604518.001–2016 </span>

  h2 Технические характеристики
  .chars
    .table
      img(
        src="/assets/img/pages/product1/table.jpg"
        data-src="/assets/img/pages/product1/table.jpg"
        data-fancybox
        width="100%"
        )
    .legend    
      img(src="/assets/img/pages/product1/legend.jpg" width="100%")

include ../ui/permit
include ../ui/order
include ../ui/interest

