.how-to-order
  .inner
    h2 Как заказать продукцию?
    ul
      li.step1
        .circle(style="background: url(/assets/img/pages/home/howto/279.png)")
        span.step Шаг 1
        p Вы оставляете заявку на нашем сайте или звоните нам по телефону
      li.step2
        .circle(style="background: url(/assets/img/pages/home/howto/280.png)")
        span.step Шаг 2
        p Уточняем детали, формируем договор и выставляем счёт
      li.step3
        .circle(style="background: url(/assets/img/pages/home/howto/281.png)")
        span.step Шаг 3
        p Вы оплачиваете выставленный счёт
      li.step4
        .circle(style="background: url(/assets/img/pages/home/howto/282.png)")
        span.step Шаг 4
        p Доставка или самовывоз со склада
  .dots    
