.interest
  .inner
    h2 Вас также могут заинтересовать
    .interest-swiper
      .swiper-wrapper
        .swiper-slide
          a(href="/product1.html") Муфты полиэтиленовые термоусаживаемые (МТУ)
          img(src="/assets/img/pages/home/prod/01.png")
        .swiper-slide
          a(href="/product2.html") Лента клеевая герметизирующая термоплавкая
          img(src="/assets/img/pages/home/prod/021.png") 
        .swiper-slide
          a(href="/product3.html") Профиль для манжет стенового ввода
          img(src="/assets/img/pages/home/prod/031.png") 
        .swiper-slide
          a(href="/product4.html") Манжеты стенового ввода (МСВ)
          img(src="/assets/img/pages/home/prod/041.png") 

    .swiper-button-prev
    .swiper-button-next