#order.order.lazyload(data-bg="/assets/img/pages/home/order/415bg.jpg")
  .inner
    .left
      h3 Заказать продукцию
      p Оставьте заявку и наши менеджеры свяжутся с вами
      form
        input(type="text" required placeholder="Имя *" name="name")
        input(type="text" required placeholder="Телефон для связи*" name="phone")
        .person
          label
            input(type="checkbox" checked)
            span.checkmark
            span.agree Я согласен(-на) на обработку персональных данных
        input.redbutton(type="submit" value="Заказать")
    .address
      span.h3 Отдел продаж
      ul
        li
          img(src="/assets/img/icons/phone.svg")    
          span +375 (29) 658–83–15
        li
          img(src="/assets/img/icons/envelope.svg")  
          span termozs@mail.ru
      span.h3 Адрес
      ul
        li
          img(src="/assets/img/icons/map.svg")    
          span Минская обл., Дзержинский р-н, д. Гарбузы, здание котельной
