.permit_single
  .inner
    .dsc
      h2 Разрешительные документы
      p.squares Продукция соответствует стандартам Таможенного Союза, сертифицирована белорусскими испытательными центрами. Чтобы вы лично убедились в качестве, мы предоставляем образцы продукции для испытаний. Вся продукция производится в соответствии с ТУ BY 691604518.005-2020.
    img(src="/assets/img/pages/product2/permit.jpg")