.permits.lazyload(data-bg="/assets/img/pages/home/permits/74.png")
  .inner
    h2 Разрешительные документы
    p Продукция соответствует стандартам Таможенного Союза, сертифицирована белорусскими испытательными центрами. Чтобы вы лично убедились в качестве, мы предоставляем образцы продукции для испытаний.

    .permit-swiper
      .swiper-wrapper
        .swiper-slide
          a(href="https://google.com" target="_blank")
            img(src="/assets/img/pages/home/permits/01.jpg")
        .swiper-slide
          a(href="https://google.com" target="_blank")
            img(src="/assets/img/pages/home/permits/02.jpg")
        .swiper-slide
          a(href="https://google.com" target="_blank")
            img(src="/assets/img/pages/home/permits/03.jpg")
        .swiper-slide
          a(href="https://google.com" target="_blank")
            img(src="/assets/img/pages/home/permits/03.jpg")
    .arrows
      .swiper-button-prev
      .swiper-button-next
