extends ../layout/product1/index

block variables
  - var title = 'Муфты полиэтиленовые термоусаживаемые (МТУ)';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'product1-page';

