extends ../layout/product2/index

block variables
  - var title = 'Ленты клеевые герметизирующие термоплавкие';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'product2-page';

