block variables
.inner
  include ./bread
  h1 #{title}
  .dsc
    .img
      img(src="/assets/img/pages/product4/intro.png")
    .txt
      p.squares Манжета стенового ввода, используется для герметизации и гидроизоляции вводов в здания и сооружения сетей теплоснабжения из ПИ-трубопроводов при пересечении ими стен и фундаментов строительных конструкций.
  .double_img
    img(src="/assets/img/pages/product4/d1.jpg" data-fancybox data-src="/assets/img/pages/product4/d1.jpg")
    img(src="/assets/img/pages/product4/d2.jpg")
  
  p.primer Пример применения манжеты стенового ввода
  img.primer(src="/assets/img/pages/product4/14.jpg")

  .wrap.square
    .notification
      span Вся продукция производится в соответствии с <br><span class="blue">ТУ BY 691604518.005-2020</span>
    
include ../ui/permit_single
include ../ui/order
include ../ui/interest