.swiper
  .swiper-wrapper
    .swiper-slide
      .desc
        span.h1 Муфты полиэтиленовые термоусаживаемые (МТУ) 
        span.dsc Простое и надежное технологическое решение для изоляции стыков ПИ-трубопроводов
        a.redbutton(href="/catalog.html") Перейти в каталог

      img.right(src="/assets/img/pages/home/slides/101.png")

    .swiper-slide
      .desc
        span.h1 Лента клеевая герметизирующая термоплавкая 
        span.dsc Наше оборудование позволяет выпускать ленту клеевую шириной до 450 мм и толщиной до 7 мм
        a.redbutton(href="/catalog.html") Перейти в каталог 
      img.right(src="/assets/img/pages/home/slides/102.png")

    .swiper-slide
      .desc
        span.h1 Профиль для манжет стенового ввода
        span.dsc Для изготовления манжет стенового ввода, для герметизации и гидроизоляции вводов в здания и сооружения сетей теплоснабжения
        a.redbutton(href="/catalog.html") Перейти в каталог
      img.right(src="/assets/img/pages/home/slides/103.png")

    .swiper-slide
      .desc
        span.h1 Манжеты стенового ввода (МСВ)
        span.dsc Для герметизации и гидроизоляции вводов в здания и сооружения сетей теплоснабжения из ПИ-трубопроводов
        a.redbutton(href="/catalog.html") Перейти в каталог
      img.right(src="/assets/img/pages/home/slides/104.png")

    .swiper-slide
      .desc
        span.h1 Комплекты заделки стыка (КЗС)
        span.dsc Позволят вам быть уверенным в правильном нормировании всех комплектующих, дозировании компонентов
        a.redbutton(href="/catalog.html") Перейти в каталог
      img.right(src="/assets/img/pages/home/slides/105.png")

  .swiper-button-next
    .swiper-pagination
  .swiper-button-prev  

.about.lazyload(data-bg="/assets/img/pages/home/314bg.jpg")
  .inner
    img.cirle.lazyload(data-src="/assets/img/pages/home/cirle.png" width="656" height="592")
    .dsc
      img(src="/assets/img/pages/home/315dots.svg")
      .frame
        h1 Компания ООО «ТермоИзоСтрой»
        p Профессиональный специализированный производитель и поставщик расходных материалов и комплектующих, используемых при строительстве, прокладке, ремонте тепловых сетей, состоящих из предварительно изолированных жёстким пенополиуретаном труб (труб ППУ).

.production
  .inner
    h2 Наша продукция
    ul
      li
        a(href="#") Муфты полиэтиленовые термоусаживаемые (МТУ)
        img(src="/assets/img/pages/home/prod/01.png")
      li
        a(href="#") Лента клеевая герметизирующая термоплавкая
        img(src="/assets/img/pages/home/prod/021.png")
      li
        a(href="#") Профиль для манжет стенового ввода
        img(src="/assets/img/pages/home/prod/031.png")
      li
        a(href="#") Манжеты стенового ввода (МСВ)
        img(src="/assets/img/pages/home/prod/041.png")
      li
        a(href="#") Комплекты заделки стыка (КЗС)
        img(src="/assets/img/pages/home/prod/051.png")
  .dots

.permits.lazyload(data-bg="/assets/img/pages/home/permits/74.png")
  .inner
    h2 Разрешительные документы
    p Продукция соответствует стандартам Таможенного Союза, сертифицирована белорусскими испытательными центрами. Чтобы вы лично убедились в качестве, мы предоставляем образцы продукции для испытаний.

    .permit-swiper
      .swiper-wrapper
        .swiper-slide
          a(href="https://google.com" target="_blank")
            img(src="/assets/img/pages/home/permits/01.jpg")
        .swiper-slide
          a(href="https://google.com" target="_blank")
            img(src="/assets/img/pages/home/permits/02.jpg")
        .swiper-slide
          a(href="https://google.com" target="_blank")
            img(src="/assets/img/pages/home/permits/03.jpg")
        .swiper-slide
          a(href="https://google.com" target="_blank")
            img(src="/assets/img/pages/home/permits/03.jpg")
    .swiper-button-next
    .swiper-button-prev

.how-to-order
  .inner
    h2 Как заказать продукцию?
    ul
      li.step1
        span.step Шаг 1
        p Вы оставляете заявку на нашем сайте или звоните нам по телефону
      li.step2
        span.step Шаг 2
        p Уточняем детали, формируем договор и выставляем счёт
      li.step3
        span.step Шаг 3
        p Вы оплачиваете выставленный счёт
      li.step4
        span.step Шаг 4
        p Доставка или самовывоз со склада
  .dots    






