.swiper
  .swiper-wrapper
    .swiper-slide
      .desc
        span.h1 Муфты полиэтиленовые термоусаживаемые (МТУ) 
        span.dsc Простое и надежное технологическое решение для изоляции стыков ПИ-трубопроводов
        //img(src="/assets/img/pages/home/slides/01.png" width="200")
        a.redbutton(href="/catalog.html") Перейти в каталог
      .dots  
      .right
        
        img(src="/assets/img/pages/home/slides/01.png" width="588" height="571")
        //img(src="/assets/img/pages/home/slides/01.png" width="200")
    .swiper-slide
      .desc
        span.h1 Лента клеевая герметизирующая термоплавкая 
        span.dsc Наше оборудование позволяет выпускать ленту клеевую шириной до 450 мм и толщиной до 7 мм
        a.redbutton(href="/catalog.html") Перейти в каталог
      .dots  
      .right
        
        img(src="/assets/img/pages/home/slides/02.png" width="467" height="389")
  .swiper-button-next
    .swiper-pagination
  .swiper-button-prev  
