.swiper
  .swiper-wrapper
    .swiper-slide
      .desc
        span.h1 Муфты полиэтиленовые термоусаживаемые (МТУ) 
        span.dsc Простое и надежное технологическое решение для изоляции стыков ПИ-трубопроводов
        a.redbutton(href="/catalog.html") Перейти в каталог
      <style>#id0:after{left: -166px; bottom: 54px}</style>  
      .right#id0
        img(src="/assets/img/pages/home/slides/303.png" width="588" height="572")

    .swiper-slide
      .desc
        span.h1 Лента клеевая герметизирующая термоплавкая 
        span.dsc Наше оборудование позволяет выпускать ленту клеевую шириной до 450 мм и толщиной до 7 мм
        a.redbutton(href="/catalog.html") Перейти в каталог
      <style>#id1:after{left: -166px; bottom: 54px}</style>  
      .right#id1
        img(src="/assets/img/pages/home/slides/304.png" width="467" height="389")

    .swiper-slide
      .desc
        span.h1 Профиль для манжет стенового ввода
        span.dsc Для изготовления манжет стенового ввода, для герметизации и гидроизоляции вводов в здания и сооружения сетей теплоснабжения
        a.redbutton(href="/catalog.html") Перейти в каталог
      .right
        img(src="/assets/img/pages/home/slides/305.png" width="556" height="196")
  .swiper-button-next
    .swiper-pagination
  .swiper-button-prev  
