block variables
.inner
  include ./bread
  h1 #{title}
  .wrap
    .left
      h3 Контакты:
      ul.tel
        li
          img(src="/assets/img/icons/phone.svg")
          a(href="tel:444") +375 (29) 658–83–15
          ul.soc
            li
              a(href="#")
                img(src="/assets/img/pages/contacts/tg.svg") 
            li
              a(href="#")
                img(src="/assets/img/pages/contacts/vi.svg") 
            li
              a(href="#")
                img(src="/assets/img/pages/contacts/wa.svg") 
        li
          img(src="/assets/img/icons/phone.svg")
          a(href="tel:555") +375 (44) 779–32–75
          ul.soc
            li
              a(href="#")
                img(src="/assets/img/pages/contacts/tg.svg") 
            li
              a(href="#")
                img(src="/assets/img/pages/contacts/vi.svg") 
            li
              a(href="#")
                img(src="/assets/img/pages/contacts/wa.svg") 
        li
          img(src="/assets/img/icons/phone.svg")
          span +375 (01716) 47–121 — факс
        li
          img(src="/assets/img/icons/envelope.svg")
          span termozs@mail.ru

      h3 Адрес:
      p.addr
        img.map(src="/assets/img/icons/map.svg")
        span Минская обл., Дзержинский р-н, д. Гарбузы, здание котельной
      
      h3 Режим работы:

      p.work
        img(src="/assets/img/icons/clock.svg")
        span Пн.–Пт. 8:00–17:00
    .map
      iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa123967e41d4b62746a57f855e7e23c51fbcf351faf2bef8a7cdf649700bea71&amp;source=constructor" width="100%" height="570" frameborder="0")
  .bank.mb32
    h3 Банковские реквизиты

    p Полное наименование: Общество с ограниченной ответственностью «ТермоИзоСтрой»
    p Сокращённое наименование: ООО «ТермоИзоСтрой»
    p УНП 691604518
    p Юридический адрес: Республика Беларусь, 222720, Минская обл., Дзержинский р-н, д. Гарбузы, здание котельной
    p IBAN: BY08OLMP30121000429630000933
    p в ОАО «Белгазпромбанк», BIC OLMPBY2X, ОКПО 303164856000, г.Минск, ул. Притыцкого 60/2
    p Директор Абражевич Святослав Игоревич, действующий на основании Устава
