block variables
.inner
  include ./bread
  h1 #{title}
  .dsc
    .img
      img(src="/assets/img/pages/product3/intro.png")
    .txt
      p.squares Профиль полимерный для манжет стенового ввода предназначен для изготовления манжет стенового ввода, используется для герметизации и гидроизоляции вводов в здания и сооружения сетей теплоснабжения из ПИ-трубопроводов при пересечении ими стен и фундаментов строительных конструкций.
      p Поставляется в рулонах.
  .wrap.square
    .notification
      span Вся продукция производится в соответствии с <br><span class="blue">ТУ BY 691604518.005-2020</span>
  
  .geo
    p Геометрические размеры профиля полимерного для манжет стенового ввода:
    img(src="/assets/img/pages/product3/27.jpg")
.permit_single
  .inner
    .dsc
      h2 Разрешительные документы
      p.squares Продукция соответствует стандартам Таможенного Союза, сертифицирована белорусскими испытательными центрами. Чтобы вы лично убедились в качестве, мы предоставляем образцы продукции для испытаний. Вся продукция производится в соответствии с ТУ ВY 691604518.002–2018.
    img(src="/assets/img/pages/product2/permit.jpg")  
    
include ../ui/order
include ../ui/interest      