block variables
.inner
  include ./bread
  h1 #{title}
  .dsc
    .img
      img(src="/assets/img/pages/product5/intro.png")
    .txt
      p.squares Предназначенные для заделки стыков труб предварительно термоизолированных пенополиуретаном трубопроводов используемых для наземной и подземной прокладки тепловых сетей.
      p Использование Комплекта заделки стыка нашей компании скомплектованный под конкретный диаметр ПИ-трубопроводов позволит вам быть уверенным в правильном нормировании всех комплектующих, дозировании компонентов.
  .wrap.square
    .notification
      span Вся продукция производится в соответствии с <br><span class="blue">ТУ ВУ 691604518.004–2019</span>
  
  .complect
    p Комплектация КЗС для подземной прокладки тепловых сетей:
    .double_img.mb32
      img(src="/assets/img/pages/product5/1-1.jpg")
      img(src="/assets/img/pages/product5/1-2.jpg" data-fancybox data-src="/assets/img/pages/product5/1-2.jpg")
    p Комплектация КЗС для наземной прокладки тепловых сетей:
    .double_img.mb32
      img(src="/assets/img/pages/product5/2-1.jpg")
      img(src="/assets/img/pages/product5/2-2.jpg" data-fancybox data-src="/assets/img/pages/product5/2-2.jpg")
include ../ui/permit_single

.video.mb32
  .inner
    h2 Видео-инструкция по применению
    .container
      img.placeholder(src="/assets/img/pages/product5/video.jpg")
      img.play(src="/assets/img/pages/product5/play.svg")

include ../ui/order
include ../ui/interest      

