ul
  li
    a(href="/product1.html") Муфты полиэтиленовые термоусаживаемые (МТУ)
    img(src="/assets/img/pages/home/prod/01.png")
  li
    a(href="/product2.html") Лента клеевая герметизирующая термоплавкая
    img(src="/assets/img/pages/home/prod/021.png")
  li
    a(href="/product3.html") Профиль для манжет стенового ввода
    img(src="/assets/img/pages/home/prod/031.png")
  li
    a(href="/product4.html") Манжеты стенового ввода (МСВ)
    img(src="/assets/img/pages/home/prod/041.png")
  li
    a(href="/product5.html") Комплекты заделки стыка (КЗС)
    img(src="/assets/img/pages/home/prod/051.png")
  li.new
    span Новый продукт