ul
  li
    a(href="#") Муфты полиэтиленовые термоусаживаемые (МТУ)
    img(src="/assets/img/pages/home/prod/01.png")
  li
    a(href="#") Лента клеевая герметизирующая термоплавкая
    img(src="/assets/img/pages/home/prod/021.png")
  li
    a(href="#") Профиль для манжет стенового ввода
    img(src="/assets/img/pages/home/prod/031.png")
  li
    a(href="#") Манжеты стенового ввода (МСВ)
    img(src="/assets/img/pages/home/prod/041.png")
  li
    a(href="#") Комплекты заделки стыка (КЗС)
    img(src="/assets/img/pages/home/prod/051.png")
  li.new
    span Новый продукт