.wrapper
  width: 1920px
  margin: 0 auto
  @media(max-width: 1920px)
    width: 100%
  >header
    width: 1170px
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-between
    font-size: 20px
    color: $black
    margin-top: 20px
    .dsc
      width: 270px
    .addr
      width: 242px
      position: relative
      &::before
        content: url('/assets/img/icons/map.svg')
        position: absolute
        left: -25px
        top: 0
    .cta
      display: flex
      flex-direction: column
      &:focus-within
        a
          color: $red !important
          outline: none
        .redbutton
          background-color: #420F0F 
      .redbutton
        background-color: #B12929
        padding: 13px 42px 
        color: #fff
        box-shadow: -5px -5px 10px #c7c7c7
        margin-top: 12px
        &:hover
          background-color: #851F1F
      a.phone
        color: $black
        text-decoration: none
        display: flex
        align-items: center
        img
          margin-right: 10px
  >footer
    background: linear-gradient(315deg, #0D84C9 2.56%, #000012 97.44%)
    height: 710px
    a
      text-decoration: none
      &:hover
        text-decoration: underline
    .inner
      width: 1170px
      margin: 0 auto
      padding-top: 100px
      .wrap
        display: flex
        justify-content: space-between
        .logo
          width: 215px
          color: #B6B6B6
          display: flex
          flex-direction: column
          justify-content: space-between
          height: 275px
          font-size: 1rem
        .nav
          width: 800px
          font-size: 24px
          margin-top: 87px
          ul.main
            display: flex
            justify-content: space-between
            a
              color: #67E2FF
          ul.prods
            columns: 2
            margin-top: 43px
            li
              margin-bottom: 40px
            a
              color: #fff
    .line
      background: $bluegrad
      color: #fff
      font-size: 18px
      margin-top: 50px
      ul
        display: flex
        width: 1170px
        margin: 0 auto
        justify-content: center
        li
          display: flex
          margin-right: 40px
          padding: 5px
          min-width: 200px
          align-items: center
          img
            margin-right: 10px
    .credentials
      font-size: 14px
      text-align: center
      margin-top: 70px
      color: #fff
      a
        color: #fff
      span
        display: inline-block          
        margin-right: 150px


section#nav
  background: linear-gradient(45deg, rgba(40,169,225,1) 0%, rgba(1,115,189,1) 100%)
  margin-top: 20px
  ul
    width: 1170px
    margin: 0 auto
    display: flex
    justify-content: space-between
    font-size: 24px
    li
      &.active a
        color: #00316E
      a
        padding: 25px
        color: #fff
        text-decoration: none
        display: block
        &:hover
          text-decoration: underline

body
  &.index-page
    .swiper
      width: 1520px
      //height: 821px
      height: 721px
      margin: 0 auto
      //margin-top: 80px
      //margin-bottom: 130px
      @media(max-width: 1520px)
        width: 90%
      &-slide
        display: flex
        align-items: center
        //&::after
          content:url(/assets/img/pages/home/ldots.svg)
          position: absolute
          top: 100px
          right: 35px
          z-index: -1
        .desc
          display: flex
          flex-direction: column
          height: 395px
          width: 655px
          justify-content: space-between
          margin-left: 120px

          
          .h1
            font-size: 56px
          .dsc
            font-size: 32px
          .redbutton
            width: 173px 
            padding: 20px 28px
            font-size: 20px
            text-decoration: none
            position: relative
 
        .right
          position: relative
          align-self: center
 
           
      &-button-next, &-button-prev
        background-color: #EEEFF0
        width: 48px
        height: 48px
        &:hover
          background-color: #E4E5E6   
      &-button-next
        &:after
          content: url(/assets/img/pages/home/right.svg)
      &-button-prev
        &:after
          content: url(/assets/img/pages/home/left.svg)
      &-pagination
        top: 66px
        span
          width: 45px
          height: 39px
          border: 2px solid #0173BD
          background-color: transparent
          border-radius: 0
          margin-bottom: 10px !important
    .about
      background-size: cover
      margin-bottom: 170px
      .inner
        height: 701px
        width: 1170px
        margin: 0 auto
        display: flex
        justify-content: space-between
        align-items: center
        .dsc
          display: flex
          flex-direction: column
          .frame
            background-image: url(/assets/img/pages/home/80.jpg)
            padding: 30px
            box-shadow: -5px -5px 10px #C7C7C7
            margin-top: 24px
            width: 469px
            background-size: cover
            position: relative
            &:after
              content: url('/assets/img/pages/home/271.svg')
              position: absolute
              top: 97px
            h1
              font-size: 24px
            p
              font-size: 20px
              padding-left: 50px
    .production
      .inner
        width: 1200px
        margin: 0 auto
      h2
        font-size: 48px
        font-weight: normal  
      ul
        display: flex
        flex-wrap: wrap
        justify-content: center

        li
          min-width: 370px
          min-height: 170px
          width: 370px
          height: 170px
          background: linear-gradient(45deg,rgba(1,115,189,1)  0%, rgba(40,169,225,1) 100%)
          margin-right: 30px
          margin-bottom: 30px
          box-shadow: $c7
          display: flex
          align-items: center
          position: relative
          transition: all 0.3s ease
          &:hover
            background: linear-gradient(115deg,rgba(177, 41, 41, 1)  0%, rgba(210, 81, 81, 1) 100%)
          a
            font-size: 1rem
            font-weight: bold
            color: #fff
            text-decoration: none
            width: 150px
            padding-left: 45px
            &:after
              position: absolute
              top: 0
              right: 0
              bottom: 0
              left: 0
              z-index: 1
              content: ""
          img
            margin-right: -50px
      .dots
        height: 60px
        width: 100%
        background: url(/assets/img/pages/home/255dot.svg)
        background-size: cover
        position: relative
        top: -150px
        z-index: -1
        &:after
          content: ''
          background-color: #fff
          height: 100%
          width: 846px
          position: absolute
          left: -23px
          right: 0
          margin-left: auto
          margin-right: auto
    .permits
      margin-bottom: 100px
      .inner
        width: 1170px
        margin: 0 auto
        padding-bottom: 70px
        position: relative
        h2
          font-size: 48px
          padding-top: 30px
          font-weight: normal
        p
          font-size: 24px
          width: 700px
          color: #282828
          position: relative
          margin-bottom: 50px
          padding-left: 70px  
          &:before
            position: absolute
            content: url(/assets/img/pages/home/271.svg)
            top: 0
            left: 0
      .permit-swiper
        position: relative
        overflow: hidden
        list-style: none
        padding: 0
        z-index: 1
      .swiper-button-next
        right: -70px
      .swiper-button-prev
        left: -70px
    .how-to-order
      .inner
        width: 1170px
        margin: 0 auto
      h2
        font-size: 48px
        font-weight: normal  
      ul
        display: flex
        margin-top: 90px
        li
          width: 288px
          height: 257px
          background: url('/assets/img/pages/home/howto/413.png')
          text-align: center
          display: flex
          flex-direction: column
          align-items: center
          margin-right: 5px
          position: relative
          padding-top: 60px
          &:last-of-type
            background: url('/assets/img/pages/home/howto/414.png')
          .circle
            width: 116px
            height: 116px
            position: absolute
            top: -63px
            left: 70px       
          span.step
            font-weight: bold
            font-size: 32px
            position: relative
            left: -20px
          p
            max-width: 170px
            font-size: 20px
            position: relative
            left: -20px
            margin-top: 13px 

      .dots
        height: 60px
        width: 100%
        background: url(/assets/img/pages/home/255dot.svg)
        background-size: cover
        position: relative
        top: -150px
        z-index: -1
        &:after
          content: ''
          background-color: #fff
          height: 100%
          width: 1228px
          position: absolute
          left: -23px
          right: 0
          margin-left: auto
          margin-right: auto
    .order
      .inner
        width: 1170px
        margin: 0 auto
        display: flex
        justify-content: space-between
        align-items: center
        height: 587px
        .left
          color: #fff
          align-self: baseline
          h3
            font-size: 48px
            font-weight: normal
            margin-bottom: 24px
          p
            font-size: 36px
            margin-top: 0
          form
            input[type="text"]
              background-color: transparent
              border: none
              border-bottom: 1px solid #fff
              padding: 5px
              display: block
              width: 350px
              margin-bottom: 20px
              height: 40px
              color: #fff
              font-family: 'Marion'
              font-size: 20px
              &::placeholder
                color: #dadada
                font-family: 'Marion'
                font-size: 20px
              &:focus
                outline: none
                background-color: #819eb340
            .person
              font-size: 14px
              margin-bottom: 20px
              label
                display: flex
                align-items: center
                cursor: pointer
                &:hover
                  opacity: 0.7
              input[type="checkbox"]
                display: none
                &:checked ~ .checkmark
                  &::after
                    content: url(/assets/img/icons/ok.svg)
                    position: absolute
                    top: 4px
                    left: 3px
              .checkmark
                width: 24px
                height: 24px
                border: 1px solid #EEEFF0
                display: inline-block
                position: relative
                margin-right: 14px
            .redbutton
              outline: none
              font-family: 'Marion'
              font-size: 20px
              border: none
              box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
              padding: 20px 70px
  
        .address
          background: url(/assets/img/pages/home/80.jpg)
          background-size: cover
          width: 560px
          height: 348px
          box-shadow: $c7
          padding: 40px
          span.h3
            font-size: 40px
            color: $red
            margin-bottom: 20px
            display: block
          ul
            color: $grey
            &:nth-of-type(1)
              margin-bottom: 20px
              li
                line-height: 200%
                &:nth-of-type(1)
                  font-size: 18px
                &:nth-of-type(2)
                  font-size: 24px
            &:nth-last-of-type(2)
              font-size: 18px
                    
                    
            li
              display: flex
              align-items: center
              img
                margin-right: 10px
    .map
      height: 528px
      .inner
        width: 1170px
        margin: 0 auto
        .box
          background: url(/assets/img/pages/home/80.jpg)
          background-size: cover
          width: 370px
          height: 348px
          margin-top: -400px
          position: relative
          z-index: 10
          padding: 32px 45px
          color: $black
          font-size: 20px
          box-shadow: -5px -5px 10px #C7C7C7
          img.logomap
            margin-bottom: 50px
          ul
            li
              line-height: 250%
              &:nth-of-type(1)
                line-height: 100%
                img
                  align-self: baseline
              display: flex
              align-items: center
              img
                margin-right: 10px  
                


          